* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.images {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

/*.images img {
   width: 200px;
}*/

@media screen and (max-width: 768px) {
  .images img {
    width: 100%;
    margin: 10px;
  }
}